content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-evenly;

}
h1 {
    background: red;
    padding: 15px 0 0 0;

}
#wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
  }

p {
    width: 400px;
    text-align: center;
    margin: 15px 150px 35px 150px;
}


.wrong {
    height: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    width: 40px;
    border-bottom: 2px black solid;
}
ol {
    display: flex;
    justify-content: space-evenly;
}
.right{
    height: 20px;
    width: 50px;
    border-bottom: 2px black solid;
    margin: 30px 25px 0 15px;
}
#inputBox {
    margin: 50px 0 0 0;
    text-align: center
    
}
#inputButton {
    width: 100px;
    background-color: blue;
    color: white;

}
footer {
    margin: 100px 0 0 0;
    color: red;

}