content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-evenly;

}
h1 {
    background: red;
    padding: 15px 0 0 0;

}
#wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#letterBank {
    display: flex;
    flex-wrap: wrap;
    background: purple;
    justify-content: space-evenly;
    height: 410px;
    width: 60px;
    font-weight: bolder;
    font-size: large;
    color: white;
}
.letters {
    height: 10px;
    width: 15px;
    border-bottom: 2px white solid;
    margin: 0px 3px 3px 3px;
    padding: 0px 0 12px 5px;    
}
.letters:hover {
    background-color: red;
    cursor: default;
}
#imgContainer {
    width: 700px;
    height: 380px;
    background: white;
    margin-top: 150px;

}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

p {
    width: 400px;
    text-align: center;
    margin: 15px 150px 35px 150px;
}


.wrong {
    height: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    width: 40px;
    border-bottom: 2px black solid;
}
ol {
    display: flex;
    justify-content: space-evenly;
}
#inputBox {
    margin: 50px 0 0 0;
    text-align: center;
    
}
.right{
    height: 20px;
    width: 50px;
    border-bottom: 2px black solid;
    margin: 100px 25px 0 15px;
}

.button {
    width: 100px;
    height: 20px;
    background-color: blue;
    color: white;

}
footer {
    margin: 100px 0 0 0;
    color: red;

}